<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{item.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <preload-image [ratio]="{w: 1, h: 1}" [src]="item.image"></preload-image>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{item.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
